<section class="logo">
  <div class="container">
    <div class="wrapper">
      <div class="logo">
        <img src="src/assets/icons/logo--1.svg" alt="">
      </div>
      <div class="logo">
        <img src="src/assets/icons/logo--2.svg" alt="">
      </div>
      <div class="logo">
        <img src="src/assets/icons/logo--3.svg" alt="">
      </div>
      <div class="logo">
        <img src="src/assets/icons/logo--4.svg" alt="">
      </div>
    </div>
  </div>
</section>

<style lang="scss">
@import 'src/assets/styles/utils/var.scss';
  .logo{
    padding-bottom: 162px;
    

    .wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .logo{
        color: $brand;
      }
    }
  }
</style>