---
import Layout from '../layouts/Layout.astro';
import Logo from '../sections/LogoSection.astro/Logo.astro';
import HeroSection from '../sections/MainPage/HeroSection.astro';
import QuotesSection from '../sections/MainPage/QuotesSection.astro';
import ServicesSection from '../sections/MainPage/ServicesSection.astro';
import Proceandservices from '../sections/ProceAndServices/work.astro';
---

<Layout title="Delote Beauty">
  <main>
    <HeroSection />
    <QuotesSection />
    <ServicesSection />
    <Logo />
    <Proceandservices />
  </main>
</Layout>

<style>
  
</style>